body {
    background-color: #fdeefd;
}
.header h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 50px;
    color: #222222;
    text-align: center;
    margin-top: 0%;
}.post-detail {
  width: 70%;
  margin: 0 auto 10px;
  text-align: center;
  }
.post-info {
  color: #be9656;
  font-style: italic;
  position: relative;
  display: block;
  font-size: 20px;
}
.post-info:before {
  content: "";
  border-bottom: 1px solid #be9656;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
}
.post-info span {
  display: inline-block;
  padding: 0 1.2em;
  background: #fdeefd;
  position: relative;
  z-index: 2;
}
.container {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.blok1 {
    background: url(./surs/war.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(124, 197, 119, 0.6);
    width: 20%;
    height: 550px;
	-webkit-transform: skew(10deg);
	   -moz-transform: skew(10deg);
	     -o-transform: skew(10deg);
         text-align: center;
}
.blok1 a {
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  height: 100%;
  font-size: 300%;
}
.blok1 a:hover {
  box-shadow: inset 0 0 0 200vw rgba(158, 241, 152, 0.6);
}
.blok2 {
  background: url(./surs/museam.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
box-shadow: inset 0 0 0 200vw rgba(191, 201, 119, 0.6);
  width: 20%;
  height: 550px;
-webkit-transform: skew(10deg);
   -moz-transform: skew(10deg);
     -o-transform: skew(10deg);
       text-align: center;
}
.blok2 a {
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  height: 100%;
  font-size: 300%;
}
.blok2 a:hover {
  box-shadow: inset 0 0 0 200vw rgba(255, 243, 135, 0.6);
}
.blok3 {
  background: url(./surs/culture.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
box-shadow: inset 0 0 0 200vw rgba(192, 119, 119, 0.6);
  width: 20%;
  height: 550px;
-webkit-transform: skew(10deg);
   -moz-transform: skew(10deg);
     -o-transform: skew(10deg);
       text-align: center;
}
.blok3 a {
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  height: 100%;
  font-size: 300%;
}
.blok3 a:hover {
  box-shadow: inset 0 0 0 200vw rgba(239, 156, 156, 0.6);
}

